.sizeOfImage{
    padding: 2px;
}
.paginationComponent{
    justify-content: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#col-cards{
  padding: 10px;
}
/*#filterComponent{
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 4px;
  border-color: #3264fe;
  
  border-style: solid;
}*/
#mainContainer{
  padding: 0%;
}
.col-cards{
  margin-bottom: 1rem;
  text-align: center;
  display: inline-block;
}
#filterComponent #filterLabel{
  padding-left: 1rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 0px;
  border: 1px;
  border-style:double;
  border-radius: 1rem;
  margin: 1rem;
  font-size: 25px;
  font-weight: 900;
  font-family: "Roboto Mono", monospace;
  color: #3264fe;
  
}
#filterComponent #priceLabel{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  padding: 2%;
  font-family: "Arial";
}
#filterComponent .boxForFilters{
  border: 1px;
  border-style:double;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
#filterComponent .boxForFilters #col1{
  padding-left: 0%;
}
#filterComponent .boxForFilters #col2{
  padding-right: 0%;
}

#filterComponent #categoryLabel{
  font-size: 18px;
  text-align:center;
  bottom:0;
  width:100%;
  left:10%;
  font-weight: 560;
  font-family: "Arial";
}
#filterComponent #rateLabel{
  text-align:center;
  font-size: 18px;
  font-weight: 600;
  width:100%;
  bottom:0;
  padding: 2%;
  font-family: "Arial";
}
#filterComponent #slider-value{
  
  position: relative;
  background-color: #3264fe;
  opacity: 0.7;
  color: white;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  padding: 10px 0;
  border-radius: 5px;
}
#filterComponent .checkboxList{
  font-family: Arial, Helvetica, sans-serif;
}
#filterComponent #brandLabel{
  font-size: 18px;
  text-align:center;
  bottom:0;
  width:100%;
  left:10%;
  font-weight: 560;
  font-family: "Arial";
}
#filterComponent #bodyTypeLabel{
  font-size: 18px;
  text-align:center;
  bottom:0;
  width:100%;
  left:10%;
  font-weight: 560;
  font-family: "Arial";
}
#filterComponent #submit-button-col{
  
  margin-left: 1.5rem;
  padding: 2%;
  margin-right: 1rem;
}
#filterComponent #reset-button-col{
  margin-right: 1rem;
  padding: 2%;
  margin-left: 1.5rem;
}
#filterComponent #submit-button{
  height: 100%;
  width: 100%;
}
#filterComponent #reset-button{
  width: 100%;
  height: 100%;
}
.paginationItems{
  position: relative;
  bottom: 0;  
}
.spinnerLoading{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#imageCol{
  max-width: fit-content;
  width: 50%;
}
.card-text{
  margin: 0%;
}
.rating-card{
  margin-top: 3%;
  margin-bottom: 3%;
}
#comparer-details-main{
  margin-top: 1%;
}
#comparer-details-main .comparer-details-col-left{
  padding: 1rem;
}
#comparer-details-main .comparer-details-col-left{
  padding: 1rem;
}
#comparer-details-main .mainRow{
  width: 101%;
}
#comparer-details-main .detailsCol{

  border: 2px;
  border-style: double;
  border-radius: 1rem;
  color:black;
}

#comparer-details-main #brandName{
  text-align: right;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 2.5vw;
  
}
#comparer-details-main #modelName{
  text-align: center;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 2.5vw;
  
}
#comparer-details-main #generationName{
  text-align: left;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 2.5vw;
}
#comparer-details-main #rating-details{
  justify-content: center;
}
#comparer-details-main #rating-details-col1{
  font-size: 1.7vw;
  text-align: center;
  padding: 1rem;
  padding-right: 0%;
  padding-bottom: 0%;
  font-family: "Roboto Mono", monospace;
}
#comparer-details-main #rating-details-col2{
  font-size: 1.7vw;
  text-align: left;
  padding: 1rem;
  padding-left: 0%;
  padding-bottom: 0%;
}
#comparer-details-main #averageRate{
  text-align: center;
  font-size: 1.7vw;
  font-family: "Roboto Mono", monospace;
}
#comparer-details-main #numberOfRates{
  text-align: center;
  font-size: 1.7vw;
  font-family: "Roboto Mono", monospace;
}
#comparer-details-main .nazwakurwaten{  
  margin-bottom: 1rem;
  margin-left: 0.1rem;
}
#comparer-details-main .alert1{
  margin-bottom: 0%;
  font-size: 1.1vw;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
#comparer-details-main .alert2{
  margin-bottom: 0%;
  font-size: 1.1vw;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
#comparer-details-main .alert2 p{
  margin-bottom: 0%;
}
#comparer-details-main .alert1 p{
  margin-bottom: 0%;
}

#comparer-details-main .buttonBackEdit{
  text-align: center;
  margin-top: 1rem;
}
#comparer-details-main .detailsBorder-head{
  text-align: center;
  border: 2px;
  border-style:solid;
  border-radius: 1rem;  
  padding: 1rem;
  margin-top: 1rem;
  font-size: 25px;
  font-weight: 900;
  font-family: "Roboto Mono", monospace;
  color: #3264fe;
}

#comparer-details-main .detailsBorder-engines{
  margin-bottom: 1%;
  padding: 1rem;
  border: 2px;
  border-style:solid;
  border-radius: 1rem;
  color:black;
  font-family: "Roboto Mono", monospace;
}

#comparer-details-main .detailsBorder-types{
  margin: 1rem;
  padding: 1rem;
  border: 2px;
  border-style:solid;
  border-radius: 1rem;
  color:black;
  font-family: "Roboto Mono", monospace;
}
#comparer-details-main .detailsBorder-engines-table{
  margin: 0%;
  padding: 1rem;
  border: 2px;
  border-style:solid;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

#comparer-details-main .detailsBorder-engines-table td .row-container{
  display:inline-block;
}
#comparer-details-main .detailsBorder-gearboxes-table td .row-container{
  display:inline-block;
}
#comparer-details-main .detailsBorder-gearboxes{
  margin: 0%;
  padding: 1rem;
  border: 2px;
  border-style:solid;
  border-radius: 1rem;
  color:black;
  font-family: "Roboto Mono", monospace;
}
#comparer-details-main .detailsBorder-gearboxes-table{
  margin: 0%;
  padding: 1rem;
  border: 2px;
  border-style:solid;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#comparer-details-main .detailsBorder-drivetrains{
  margin-top: 1%;
  margin-left: 1%;
  padding: 1rem;
  border: 2px;
  border-style:solid;
  border-radius: 1rem;
  color:black;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}
#comparer-details-main .detailsBorder-bodyTypes{
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1rem;
  border: 2px;
  border-style:solid;
  border-radius: 1rem;
  color:black;
  font-family: "Roboto Mono", monospace;
}
#comparer-details-main #addCommentButton{
  margin-bottom: 1rem;
  width: 100%;
}
#comparer-details-main .detailsBorder-details{
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: "Roboto Mono", monospace;
}

#comparer-details-main .detailsBorder-comments{
  border: 1px;
  border-width: 0.4rem;
  margin-bottom: 1%;

  font-family: "Roboto Mono", monospace;
}
#comparer-details-main .detailsBorder-comment{
  border: 1px;
  border-width: 0.4rem;
  margin-bottom: 1%;
  padding: 1rem;
  border-radius: 0.5rem;
  border-style:solid ;
  color: black;
  font-family: "Roboto Mono", monospace;
  background-color:lightblue;
  opacity: 89%;
}
#comparer-details-main .detailsBorder-comments .detailsBorder-replies{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  border-width: 0.2rem;
  border-style:solid ;
  color: black;
}

#comparer-details-main .detailsBorder-comments .detailsBorder-comments-nickname{
  font-size: large;
  padding: 0.1rem;
  font-weight: 700;
}
#comparer-details-main .detailsBorder-comments .detailsBorder-comments-date{
  font-size: small;
  padding: 0.1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}

#comparer-details-main .detailsBorder-comments-content{
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0.4rem;
}

#comparer-details-main .detailsBorder-replies{
  border: 1px;
  padding: 1rem;
  border-radius: 0.5rem;
  border-style:solid ;
  color: darkgray;
  font-family: "Roboto Mono", monospace;
}
#comparer-details-main #forumLabel{
  font-size: 50px;
  text-align: center;
  margin-top: 1rem;
  
}

#authenticateComponent #authenticateLabel{
  padding-left: 1rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 0px;
  border: 1px;
  border-style:solid;
  border-radius: 1rem;
  margin: 1rem;
  font-size: 25px;
  font-weight: 900;
  font-family: "Roboto Mono", monospace;
  color: #3264fe;
  
}
#authenticateComponent .registerLoginInput{
  justify-content: center;
}
#authenticateComponent .loginRegisterLogoutButtons{
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;

}
#authenticateComponent .loggedButtons{
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;
}
.createGeneration-main{
  margin-top: 1rem;
  margin-left: 10%;
  margin-right: 10%;
}
.createGeneration-main .createGeneration-select{
  margin-bottom: 1%;
}
.createGeneration-main .createGeneration-drivetrain p{
  margin-top: 1rem;
}
.createGeneration-main .createGeneration-engines{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.createGeneration-main .createGeneration-engines #addButton{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.createGeneration-main .createGeneration-gearboxes{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.createGeneration-main .createGeneration-gearboxes #addButton{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.createGeneration-main .createGeneration-productionDate{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.createGeneration-main .createGeneration-bodyColour #addButton{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.createGeneration-main #generationName{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.createGeneration-main .createGeneration-bodyType{
  border: 2px;
  border-style:solid;
  border-radius: 1rem;
  padding: 3%;
}
.createGeneration-main .createGeneration-bodyType #bodyType{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 1px solid black;
}
.createGeneration-main .createGeneration-drivetrain{
  border: 2px;
  border-style:solid;
  border-radius: 1rem;
  padding: 3%;
  margin-top: 1rem;
}
.createGeneration-main .createGeneration-drivetrain #drivetrain{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 1px solid black;
  margin-top: 0%;
}
.createGeneration-main .createGeneration-engines #addButton{
  margin-bottom: 0%;
  margin-top: 0%;
  padding: 1rem;
  width: 100%;
}
.createGeneration-main .createGeneration-gearboxes #addButton{
  margin-bottom: 0%;
  margin-top: 0%;
  padding: 1.0rem;
  width: 100%;
}
.createGeneration-main .createGeneration-detailedInfo{
  border: 2px;
  border-style:solid;
  border-radius: 1rem;
  padding: 3%;
}
.createGeneration-main .createGeneration-detailedInfo #detailedInfo{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 1px solid black;
  margin-top: 0%;
}
.createGeneration-main .createGeneration-detailedInfo #productionDate{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 1px solid black;
  margin-top: 0%;
}
.createGeneration-main .createGeneration-detailedInfo #addButton{
  margin-bottom: 0%;
  margin-top: 0%;
  padding: 1.0rem;
  width: 100%;
}
.createGeneration-main .createGeneration-detailedInfo .brakes{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px;
  border-style:solid;
  border-radius: 1rem;
  padding: 2%;
}
.createGeneration-main .createGeneration-detailedInfo .brakes #brakes{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 1px solid black;
  margin-top: 0%;
}
.createGeneration-main .createGeneration-detailedInfo .suspension{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px;
  border-style:solid;
  border-radius: 1rem;
  padding: 2%;
}
.createGeneration-main .createGeneration-detailedInfo .suspension #suspension{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 1px solid black;
  margin-top: 0%;
}
.createGeneration-main .createGeneration-optionalEquipment{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px;
  border-style:solid;
  border-radius: 1rem;
  padding: 2%;
}
.createGeneration-main .createGeneration-optionalEquipment #optionalEquipment{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 1px solid black;
  margin-top: 0%;
}
.createGeneration-main #addGeneration{
  margin-bottom: 1rem;
  width: 100%;
}
.createGeneration-main #image{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 1px solid black;
  margin-top: 0%;
}
.settings-form{
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3rem;
  background-color: #f8f9fa;
  padding: 5%;
}
.settings-form .form-update{
  margin: 0%;
}
.settings-table{
  text-align: center;
}
.settings-main .test{
  margin-bottom: 2rem;
}
.imageFormUpdate{
  margin-top: 1rem;
  border-top: 2px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  color:black;
}
.imageFormUpdate #image{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.imageFormUpdate .uploadImageButton{
  margin-top: 0.5rem;
  text-align: right;
}