.sizeOfImage{
    padding: 2px;
}
.paginationComponent{
    justify-content: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#col-cards{
  padding: 10px;
}
